<body>
  <div class="home-header">
    <div class="home-title">
      <h1>Soul Spectrum Podcast</h1>
    </div>
    <div id="home-nav">
      <%=link_to "Home", root_path%>
      <a href="">iTunes</a>
      <a href="">About</a>
    </div>
    <main class="container">
      <div class="row">
        <div class="col-md-7">
          <p id="blog-header">Updates</p>
        </div>
        <div class="col-md-5">
          <p class="sidebar-header">Receive Email Updates</p>
          <form action="//facebook.us16.list-manage.com/subscribe/post?u=1a79d6d6eca2db7827419e472&amp;id=6aac485fea" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <input type="email" id="email-field" placeholder="Enter your email address here..." required>
            <input type="submit" id="email-submit" value="Submit">
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7" id="blog-content">
          <!-- blog content here -->
        </div>
        <div class="col-md-5">
          <p class="sidebar-header">Episodes</p>
          <div class="row" ng-controller="EpisodeCtrl">
            <input type="text" class="form-control" id="search" ng-model="search" placeholder="Type search phrase here..." />
              <div ng-repeat="episode in episodes | filter : search">
                <div class="episode-container">
                  <div class="row">
                    <div class="pull-left" id="logo">
                      <img src="https://preview.ibb.co/n61Me5/4aa0fed47e216c10752bc3aa15c44b6e.jpg" border="0" id="player-logo" alt="Lua Jaksik art">
                    </div>
                    <div class="col" id="episode-info">
                      {{episode.title}} | Ep. #{{episode.number}} | {{episode.date}} <br> {{episode.description}}
                    </div>
                    <div class="pull-right">
                      <a class="ion-share" id="player-share" href="";></a>
                    </div>
                  </div>
                  <div class="row" id="player-controls">
                    <a class="player-buttons" style="display:inline" ng-show="!clip.playing" ng-click="episode.episodePlayer.play(episode)"><span class="ion-play"></span></a>
                    <a class="player-buttons" ng-show="clip.playing" ng-click=""><span class="ion-pause"></span></a>
                    <div class="current-time" style="display:inline">0:00</div>
                    <div class="total-time" style="display:inline">-:--</div>
                    <a class="player-volume" style="display:inline"><span class="ion-android-volume-down"></span></a>
                  </div>
              </div>
          </div>
        </div>
    </main>
  </div>
</body>
